body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Resets all styling for the body so that below styling has no 8px margin around it */


.header{
    padding: 30px;
    text-align: center;
    background-color: rgb(66, 178, 138);
    color: white;   
}

.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(66, 178, 138);
    color: white;
    font-size: larger;
}


.content{
    border: 2px solid gray;
    padding: 20px;
    width: 140px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 48%;
    margin: -50px 0 0 -50px;
}

#output{
    text-align: end;
    border: 1px solid lightgray;
    width: 75px;
    text-align: center;
    line-height: 28px;
    font-size: larger;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.numbers,
.operators{
    display: flex;
    flex-wrap: wrap-reverse;

}

.operators{
    width: 38px;
}


button{
    height: 30px;
    width: 30px;
}

.topLine{
    display: flex;
    justify-content: space-between;
}